@font-face
  font-family: 'ProximaNova'
  src: url('../fonts/ProximaNova-Regular.ttf')

*
  outline: none
body
  background: white
  margin: 0
  overflow: hidden
  font-family: ProximaNova
  .filter-panel
    width: 240px
    float: left
    height: 100vh
  .content
    width: calc(100vw - 240px)
    float: left
    height: 100vh
.scroll-box
  height: 100vh !important
  float: left
.group-filter
  background: #F5F7F9
.item-filter
  position: relative
  width: 240px
  height: 20px
  border-bottom: 1px solid #ececec
  font-size: 14px
  padding: 15px 0
  cursor: pointer
  background: #F5F7F9
  p
    float: left
    margin: 0
    position: relative
    top: 3px
    left: 14px
.active-item-filter
  border: none
.arrow-filter
  width: 8px
  height: 8px
  border-top: 2px solid #bdbdbd
  border-right: 2px solid #bdbdbd
  float: left
  transform: rotate(45deg)
  transition: all 0.2s
  top: 5px
  left: 4px
  position: relative
.arrow-open
  transform: rotate(135deg)
  border-color: #495368
  top: 3px
  left: 6px
.reset-filter
  float: right
  position: relative
  right: 8px
  display: none
.body-item-filter
  display: none
  transition: all 0.2s
  position: relative
  background: white
  width: 94%
  margin: 0 auto
  border-radius: 10px
.calendar-box
  position: absolute
  z-index: 9
  width: 230px
  margin-left: 5px
  margin-bottom: 50px
  background: #E8EAED
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15)
  .DayPicker-Day
    border: none
    padding: 0.4rem
  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
    background: #5C508A
  .DayPicker-Day--start:not(.DayPicker-Day--outside):before
    border-bottom-left-radius: 0
  .DayPicker-Day--end:not(.DayPicker-Day--outside):after
    border-top-right-radius: 0
  .DayPicker-Day--start:not(.DayPicker-Day--outside):before,
  .DayPicker-Day--end:not(.DayPicker-Day--outside):after
    background: #5C508A
.input-filter-box
  padding: 5px
.input-filter
  display: block
  margin: 0 auto
  height: 20px
  background: #E8EAED
  border: 0
  border-radius: 5px
  color: #6D6E6E
  padding: 3px 8px
.input-date-between
  display: inline-block
  width: 86px
  margin-left: 6px
  height: 20px
  background: #E8EAED
  border: 0
  padding: 3px
  border-radius: 5px
.date-picker-filter
  position: absolute
  height: 264px
  display: block
.apply-button-box
  position: fixed
  bottom: 0
  left: 0
  width: 240px
  height: 50px
  background-color: #fff
  display: none
  z-index: 20
  .apply-button
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    z-index: 10
    background: #266FEB
    color: white
    border: none
    font-size: 16px
    font-weight: bold
    width: 160px
    height: 30px
    border-radius: 30px
    margin: 0 auto
    cursor: pointer
.hide-block
  display: none
.show-block
  display: block
.delete-input-filter
  cursor: pointer
  width: 10px
  height: 10px
  position: absolute
  top: 8px
  right: 42px
.delete-input-filter-between
  right: 10px
.ReactVirtualized__Table__row
  padding: 0!important
.input-and-clear-filter
  position: relative
  height: 30px
  padding: 5px
.condition-filter-date
  position: relative
  height: 36px
  padding: 5px
  font-size: 12px
  .item-condition
    margin: 14px 2px 8px
    padding: 2px
    float: left
    cursor: pointer
    color: #ab9bc6
    text-transform: uppercase
    font-weight: 700
    font-size: 8px
  .active-condition
    background: #5C508A
    border-radius: 10px
    color: white
    padding: 5px 2px
    margin-top: 10px
.condition-filter-date p
  float: left
  margin-top: 12px
  margin-bottom: 12px
  color: #787471
.Range
  .DayPicker-Day
    outline: none
  .DayPicker-Day--disabled
    background-color: white
    color: lightgray
  .DayPicker-Day:not(.DayPicker-Day--outside):not(.DayPicker-Day--selected):hover
    background-color: #EAEAEA
    color: #555

.DayPicker-Day--start, .DayPicker-Day--end
  position: relative

.DayPicker-Day--start:not(.DayPicker-Day--outside):before
  position: absolute
  top: 0
  bottom: 0
  left: -5px
  width: 5px
  content: ''
  background-color: yellowgreen
  border-top-left-radius: 10px
  border-bottom-left-radius: 10px

.DayPicker-Day--end:not(.DayPicker-Day--outside):after
  position: absolute
  top: 0
  bottom: 0
  right: -5px
  width: 5px
  content: ''
  background-color: yellowgreen
  border-top-right-radius: 10px
  border-bottom-right-radius: 10px
